{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Form for creating a new user for Blogly. #}

{% extends "base.jinja2" %}


{% block title %}
    Create User
{% endblock title %}

{% block content %}

    <h1>Create A New User</h1>

    <form action="/users/new", method="POST">

        <label for="fname">First Name</label>
        <input id="fname" type="text" name="firstname" placeholder="Enter a first name">

        <label for="lname">Last Name</label>
        <input id="lname" type="text" name="lastname" placeholder="Enter a last name">

        <label for="img-url">Image URL</label>
        <input id="img-url" type="text" name="imageurl" placeholder="Provide a link to an image for this user">

        <button>Add</button>
    </form>

{% endblock content %}
