{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Form for editing an existing user for Blogly. #}

{% extends "base.jinja2" %}


{% block title %}
    Edit User
{% endblock title %}

{% block content %}

    <h1>Edit User</h1>

    <form>
        <div>
            <label for="fname">First Name</label>
            <input id="fname" type="text" name="firstname" placeholder="Enter a first name">
        </div>

        <div>
            <label for="lname">Last Name</label>
            <input id="lname" type="text" name="lastname" placeholder="Enter a last name">
        </div>

        <div>
            <label for="img-url">Image URL</label>
            <input id="img-url"
                   type="text"
                   name="imageurl"
                   placeholder="Provide a link to an image for this user">
        </div>

        <button class="btn btn-success btn-sml"
                formaction="/users/{{ user.id }}/edit"
                formmethod="POST">
            Save
        </button>

        <button class="btn btn-secondary btn-sml"
                formaction="/users/{{ user.id }}"
                formmethod="GET">
            Cancel
        </button>
    </form>

{% endblock content %}
