{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Form for editing a tag for Blogly. #}

{% extends "base.jinja2" %}

{% block title %}
    Edit Tag
{% endblock title %}

{% block content %}

    <h1>Edit Tag</h1>

    <form method="POST" action="/tags/{{ tag.id }}/edit">
        <div class="form-group row">
            <label for="tagname" class="col-sm-2 col-form-label">Name</label>
            <input id="tagname"
                   class="form-control"
                   type="text"
                   name="tagname"
                   value="{{ tag.name }}"
                   placeholder="Enter a name for the tag">
        </div>

        {% for msg in get_flashed_messages() %}
            <div class="alert alert-info">{{ msg }}</div>
        {% endfor %}

        <div class="form-group text-right">
            <a href="/tags/{{ tag.id }}" class="btn btn-outline-info">Cancel</a>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </form>

{% endblock content %}
