{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Template for homepage of Blogly application - lists current users. #}

{% extends "base.jinja2" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    Here is some content; test that this shows up

    <h1>Users</h1>

    {% for user in users %}
        <li>{{ user.first_name }} {{ user.last_name }}</li>
    {% endfor %}
{% endblock content %}
