{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Template for user list page of Blogly application - lists all current users. #}

{% extends "base.jinja2" %}


{% block title %}
    All Users
{% endblock title %}

{% block content %}

    <h1>Users</h1>

    <ul>
        {% for user in users %}
            <li>
                <a href="/users/{{ user.id }}">{{ user.get_full_name() }}</a>
            </li>
        {% endfor %}
    </ul>

    <p>
        <a class="btn btn-sm btn-secondary" href="/users/new">Add user</a>
    </p>

{% endblock content %}
