{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Template for user list page of Blogly application - lists all current users. #}

{% extends "base.jinja2" %}


{% block title %}
    All Users
{% endblock title %}

{% block content %}

    <h1>Users</h1>

    {% for user in users %}
        <li>
            <a href="/users/{{ user.id }}">{{ user.get_full_name() }}</a>
        </li>
    {% endfor %}

    <form action="/users/new", method="GET">
        <button>Add user</button>
    </form>

{% endblock content %}
