{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# List all tags - Blogly. #}

{% extends "base.jinja2" %}


{% block title %}
    All Tags
{% endblock title %}

{% block content %}

    <h1>Tags</h1>

    <ul>
        {% for tag in tags %}
            <li>
                <a href="/tags/{{ tag.id }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {# <form action="/tags/new", method="GET">
        <button>Add tag</button>
    </form> #}

    <p>
        <a class="btn btn-sm btn-secondary" href="/tags/new">Add tag</a>
    </p>

{% endblock content %}
