{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Page containing details about a specific post, and options to delete or edit that post. #}

{% extends "base.jinja2" %}


{% block title %}
    Post Details
{% endblock title %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <div>
        <i>By {{ user.get_full_name() }}</i>
    </div>
    <div>
        <span>{{ post.get_formatted_datetime() }}</span>
    </div>

    <div>
        <b>Tags:</b>
        {% for tag in tags %}
            <span>
                <a href="/tags/{{ tag.id }}">{{ tag.name }}</a>
            </span>
        {% endfor %}
    </div>

    <form>
        <button class="btn btn-primary btn-sml"
                formaction="/users/{{ user.id }}"
                formmethod="GET">
            User details
        </button>

        <button class="btn btn-primary btn-sml"
                formaction="/posts/{{ post.id }}/edit"
                formmethod="GET">
            Edit post
        </button>

        <button class="btn btn-danger btn-sml"
                formaction="/posts/{{ post.id }}/delete"
                formmethod="POST">
            Delete post
        </button>
    </form>

{% endblock content %}
