{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Page containing details about a specific post, and options to delete or edit that post. #}

{% extends "base.jinja2" %}


{% block title %}
    Post Details
{% endblock title %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <div>
        <i>By {{ user.get_full_name() }}</i>
    </div>

    <form action="/users/{{ user.id }}" method="GET">
        <button>Cancel</button>
    </form>

    <form action="/posts/{{ post.id }}/edit" method="GET">
        <button>Edit</button>
    </form>

    <form action="/posts/{{ post.id }}/delete" method="POST">
        <button>Delete</button>
    </form>

{% endblock content %}
