{# Ioana A Mititean #}
{# Unit 23 Exercise - Blogly App #}

{# Page containing details about a specific user, and options to delete or edit that user. #}

{% extends "base.jinja2" %}


{% block title %}
    User Details
{% endblock title %}

{% block content %}

    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <img src="{{ user.image_url }}" alt="User profile image">

    <form action="{{ user.id }}/edit" method="GET">
        <button>Edit</button>
    </form>

    <form action="{{ user.id }}/delete" method="POST">
        <button>Delete</button>
    </form>

{% endblock content %}
